/* Section-5  */

.section-5 {
    background-image: url('AGD2 BG IMAGE.jpg'); /* Ensure this is the correct image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between; /* Adjust space between heading and cards */
    align-items: center;
    height: 90vh;
    padding-top: 30px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns the container to the center of the section */
    width: 100%;
  }
  
  .section-5-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 150;
    color: #185adb;
    text-align: left;
    align-self: flex-start; /* Aligns the heading to the left */
    margin-bottom: 70px; /* Adds space between the headline and the container */
    margin-left: 100px;
    margin-top: 10px;
    padding-top: 20px;
  }
  
  .name-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 100px;
    justify-items: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    padding-bottom: 70px;
  }
  
  .name-card {
    width: 170px;
    height: 120px;
    background: white;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
  }
  
  .name {
    font-size: 25px;
    margin: 0; /* Remove default margin */
  }
  
  .rate {
    font-size: 12px;
    margin: 0; /* Remove default margin */
  }
  

  .name-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Design */
  @media (max-width: 1150px) {
    .section-5-headline {
      font-size: 65px;
      margin-left: 80px;
    }
    .name-cards-container {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px 90px;
    }
  }
  
  @media (max-width: 1067px) {
  
    .section-5 {
      height: 90vh;
      padding-top: 70px;
    }
    .section-5-headline {
      font-size: 60px;
      margin-left: 80px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .name-cards-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 90%;
    }
    .name-card {
      width: 150px;
      height: 100px;
    }
  }
  
  @media (max-width: 768px) {
    .section-5 {
      padding-top: 20px;
      height: auto; /* Allow height to adjust */
    }
    .section-5-headline {
      font-size: 50px;
      margin-left: 50px;
    }
    .name-cards-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 150px;
      max-width: fit-content;
    }
    .name-card {
      width: 150px;
      height: 100px;
    }
  }
  
  @media (max-width: 480px) {

    .section-5 {
        height:auto;
        background-color: white; /* Set the background to white */
        background-image: url('AGP3  BGCOLOR IMG.png'); /* Ensure the image path is correct */
        background-size: 100% auto;
        background-position: bottom center; /* Position the image at the bottom */
        background-repeat: no-repeat;
      }

    .section-5-headline {
      font-size: 40px;
      margin-left: 25px;
      margin-top: 30px;
      margin-bottom: 40px;
    }

    .name-cards-container {
        display: grid;
        gap: 30px 0px;
        justify-items: center;
        align-items: center;
        max-width: 350px;
        width: 100%;
        padding: 0px;
        padding-bottom: 20px;
      }

    .name-card {
      width: 120px;
      height: 80px;
      font-size: 12px;
    }
  }